@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*="_icon-"] {
  &::before {
    @extend %ic;
    display: block;
  }
}

._icon-arrow-prev:before {
  content: "\e900";
  color: $colorOrange;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 15px;
}

._icon-arrow-prev_2:before {
  content: "\e901";
  color: #fff;
  font-size: 24px;
  position: absolute;
}

._icon-arrow-right:before {
  content: "\e902";
  color: #fff;
  font-size: 24px;
  position: absolute;
}

._icon-email:before {
  content: "\e903";
  color: #ff8000;
  font-size: 24px;
  position: absolute;
}

._icon-location:before {
  content: "\e905";
  color: #ff8000;
  font-size: 24px;
  position: absolute;
}

._icon-phone:before {
  content: "\e906";
  color: #ff8000;
  font-size: 24px;
  position: absolute;
}

._icon-question:before {
  content: "\e907";
  color: #ff8000;
  font-size: 24px;
  position: absolute;
}

._icon-time:before {
  content: "\e908";
  color: #ff8000;
  font-size: 24px;
  position: absolute;
}

._icon-arrow-next:before {
  content: "\e900";
  color: $colorOrange;
}
